
@media (max-width:465px){
    .front_formulario{
        margin-top: 10rem;
    }    
}
.front_formulario{
    height: 100%;

}

@media (max-width:465px){
    .arrow_e{
       width: 1.5rem;
    }
    .imgperson{
        width: 6rem;
        
    }
}
.arrow_e{
    width: 1.5rem;
 }
 .arrow_ep{
     width: 1.5rem;
 }
@media (min-width:768px){
    .front_formulario{
        width: 60%;

    }
}
.front_formulario  .iconos{
    text-align: center;
}
.front_formulario  .iconos .group_img{
    width: 79%;
    margin: auto;
}
@media (max-width:768px){
    .front_formulario  .iconos .group_img img{
        width: 17%;
    }    
    .front_formulario  .iconos .group_img img:last-of-type{
        width: 14%;
    }
}
.front_formulario  .iconos .group_img img{
    margin-right: 2rem;
}

.front_formulario input:first-of-type{
    margin-top: 5rem;
}
.front_formulario input:nth-child(4){
    margin-bottom: 0rem;
}
.front_formulario .olvidaste_pass{
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: $textoClaro;
    text-align: end;
}
.front_formulario input{
    margin-bottom: 2rem;
    font-size: 1.8rem;
    width: 100%;
    padding: 2.2rem 4.5rem;
    border:1px solid $textoClaro;
    outline: none;
    border-radius: 15px;
}
.front_formulario input[type="submit"]{
    color: $blanco;
    background-color: $colorPrimario;
    font-weight: 700;
    cursor: pointer;

}
.front_formulario  .iconos .group_img img:last-of-type{
    margin-right: 0;
}


.logo_soda{
    width: 35%;
    margin: auto;
    text-align: center;
}
.enlace_registro{
    margin-top: 1.5rem;
    color:$colorPrimario;
    text-align: center;
    display: block;
    font-size: 1.8rem;
}