.img_footer{
    text-align: center;
}
@media (min-width:768px){
    .img_footer{
        display: grid;
        grid-template-columns: repeat(9,1fr);
        & img{
            grid-column: 5/7;
        }
    }
}
@media (max-width:468px){
    .img_footer img{
        width: 80%;
        margin: auto;
    }
}