
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  body {
    font-size: 16px; 
    font-size: 1.6rem; 
    line-height: 2;
   
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1,h2,h3,h4{
    font-family: $fuentePrincipal;
    margin: 1rem 0;
    line-height: 1.3;
}
div{
    font-family: $fuentePrincipal;

}

h1{
font-size: 6rem;
}
h2{
    font-size: 4.8rem;
}
h3{
    font-size: 3.6rem;
}
h4{
    font-size: 2.4rem;
}

p,a,span{
    font-family: $fuentePrincipal;
}
/*Globales*/

a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}


.contenedor{
    max-width: 1350px;
    width: 95%;
    margin: 0 auto;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}
.w-100{
    width: 100% !important;
}

.text-white{
    color: $blanco !important;
    }
    .mt{
        margin-top: 5rem;
    }
    @media (min-width:768px){
        .mt{
            margin-top: 10rem;
        }   
    }
    .mb{
        margin-bottom: 5rem;
    }
    @media (min-width:768px){
        .mb{
            margin-bottom: 10rem;
        }   
    }
    .bold{
        font-weight: 700;
    }
    .bg-primary{
        background-color: $colorPrimario;
        color: $blanco;
    }
    .bg-cart{
        background-color: $bgcar;
        color: $colorPrimario;
    }
    .bg-yellow{
        background-color: #FEE700;
    }
    .bg-secondario{
        background-color: #5BCDFA;
    }
    .bg-gray{
        background-color: #f4f4f4;
        color: $colorPrimario;
    }
    .bg-gray span{
        color: $colorPrimario !important;
    }

    .text-primary{
        color: $colorPrimario !important;
    }
    .bg-white .number{
        color: $colorPrimario;
    }
    .bg-white span{
        color: $textoClaro;
    }
    .text-uppercase{
        text-transform: uppercase !important;
    }
    .text-normal{
        text-transform: initial !important;
    }


    .__d_flex{
        display: flex;
        &.__flex_column{
            flex-direction: column;
        }
    }

    .text-center{
        text-align: center;
    }
    .text-left{
        text-align: left;
    }

    .text-bold{
        font-weight: 600;
    }

    .text-gris{
        color: #454545;
    }
    .font-500{
        font-weight: 500;
    }
    
    @media (max-width:465px){
        .pb-unique{
            padding: 0 !important;
            padding-bottom: 5rem !important;
        }
    }
    .__position_relative{
        position: relative;
    }
    #presentation{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #presentation_login{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #presentation .top_presentation{
        display: flex;
        height: 100%;
        align-items: center;
    }

    .box .btn-cart:active{
        color: $colorPrimario;
    }
    .box .btn-cart:hover{
        background-color: $blanco;
    }
    .box .btn-cart{
        background-color: #5BCDFA;
        font-size: 2.4rem;
        padding: 1px 20px;
        color: $colorPrimario;
        border-radius: 16px;
        font-weight: 700;
        font-size: 34px;
        display: inline-block;
    }

    
    
    .positive_num{
        margin-left: .7rem;
        color: green !important;
    }

    .negative_num{
        margin-left: .7rem;
        color: red !important;
    }
    .__botones_nav{
        display: grid;
        padding-left: 2rem;
        padding-right: 2rem;
        grid-gap: 1rem;
        grid-template-columns: repeat(2,1fr);
    }
    
    .__btn_navegation_{
        color: #9d9d9d;
        padding: 1rem;
        border-color: #fff;
        cursor: pointer;
        border-width: inherit;
        font-size: 1.1rem;
        font-weight: 700;
        display: flex;
        border-width: 4px;
        align-items: center;
        justify-content: center;
        height: 5rem;
        border-style: solid;
    }

    .__btn_navegation_.active{
        color: $colorPrimario;
        border-bottom-color:$colorPrimario;    

    }
    .mb-i{
        margin-bottom: 10rem !important;
    }


    .__btn_navegation_ img{
        margin-right: 0.5rem;
    }

.__cursor_pointer{
    cursor: pointer;
    width: 3rem;
}

    @media (min-width:768px){
        .__btn_navegation_{
            font-size: 1.8rem;
            height: 10rem;
            padding: 3rem 1rem;
        }
        .__btn_navegation_ img{
            margin-right: 2rem;
        }

        
    }

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
      }
      
      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
      
      .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
      
      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      


.swal2-popup {
font-size: 1.5rem;
}